#cadastroProd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
 background-color: #e4e4e4;
}

#cadastroProd .form {
  background-color:   #f1f1f1;
  width: 100%;
  text-align: center;
  max-width: 385px;
  height: 95vh;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow:10px 5px 5px  rgb(171, 144, 177);
}

#cadastroProd .field {
  padding-bottom: 0.5rem;
  display: block;
  flex-direction: column;
  justify-content: center;
 /* margin-left: 4rem; */

 
}


#cadastroProd .field label {
  display: block;
  
}

#cadastroProd  .field input {
  width: 100%;
}

.p-button-rounded {
  margin-left: 4rem;
}