h1{
    text-align: center;
    margin-top: 1rem;
  }
  hr{
    margin-left: 25rem;
  }
  
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .titulo {
    color: aliceblue;
    background-color: rgb(156, 23, 218);
    margin: 0%;
    font-family:'Quantico', sans-serif;
  }
  
  .pessoa{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
  }
  
  .foto{
    display: flex;
    justify-content: center;
    width: 60%;
  }
  
  .foto img{
    display: flex;
    width: 40%;
    border-radius: 40%;
  }
  
  .sobre{
    display: flex;
    width: 100%;
    height: 80%;
    color: aliceblue;
    background-color: rgb(45, 221, 45);
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-family:'Quantico', sans-serif;
  }