.desenvolvedores{
  background-color:  #643887;
  display: flex;
  justify-content: space-between;
  font-family:'Quantico', sans-serif;
  padding: auto;
  
  }
  img{
  width: 100px;
  height: 80px;
  padding-right: 10px;
  }